body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.eight-ball {
   border-radius: 50%;
   background-color: black;
   width: 50vw;
   height: 50vw;
   max-width: 500px;
   max-height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.answer {
   font-size: 3.5vw;
   color: white;
   margin: 0;
}

@media screen and (min-width: 1200px) {
   .answer {
      font-size: 42px;
   }
}

.reset {
   
}